<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring Repository</title>
</head>

<body>
<h1>Веб-приложение: Spring Repository</h1>
<br>
<br>
<h4>Repository</h4>
<br>
<br>
<a th:href="@{/task}">Add task</a>
<br>
<br>
<a th:href="@{/add_task_form}">Add task from form</a>
<br>
<br>
<a th:href="@{/find_task_form}">Find task in DB</a>
<br>
<br>
<a th:href="@{/all_tasks}">Show tasks</a>
<br>
<br>

</body>
</html>